---
---

@import "{{ site.theme }}";  // keep this line to load the Architect theme
-page-header {
  display:none;
}
/* 🎨 Your custom background */
body {
  background: url("https://github.com/Bulanadi-MarkLorence-04/7OOP-Porfolio/blob/main/Images/eto_na_talaga%5B1%5D.gif?raw=true") no-repeat center center fixed;
  background-size: cover;
}
